body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
    font-family: 'Noto Sans', sans-serif;
}

/* new css for the front of page*/

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.hover-underline-animation-blue {
    display: inline-block;
    position: relative;
    color: #224b8d;
}